.input-style {
    /* margin-top: -5px;
    margin-bottom: 5px; */
    width: 160px; 
}

.btn-guardar-formCampo {
    width: 100%;
    margin-top: 10px;
    border-radius: 2px;
}

.ant-select {
    width: 100%;
}