/*Card area calculada*/

.area-calculada-contenedor {
    position: absolute !important;
    left: 0;
    bottom: 0;
    padding: 0px 0px 40px 16px;
}

.card-area-calculada {
    width: 210px;
    max-height: 172px;
}

.card-nombre-contenedor {

    text-align: center;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    padding: 8px 0px;
}


/*Card historial Lote*/
.card-historialLote-contenedor {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 0px 40px 0px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

#tablaHistorial>.ant-table-container>.ant-table-content>table>.ant-table-tbody>tr>td {
    padding: 2px !important;
}

#tablaHistorial>.ant-table-container>.ant-table-content>table>.ant-table-thead>tr>th {
    font-size: 12px;
    padding: 4px;
}

#tablaHistorial>.ant-table-container>.ant-table-content>table>.ant-table-tbody>.ant-table-placeholder>.ant-table-cell>.ant-empty {
    margin: 8px;
}

.historial-sindata {
    display: none;
}


/*Mapa*/
.map-style {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*btn hover con opciones para crear area*/
.btn-popup-contenedor {
    position: absolute !important;
    right: 10px;
    top: 185px;
    /* padding: 0px 0px 40px 0px; */
}

.cuadrado-rojo {
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    border-radius: 2px;
}

.cuadrado-verde {
    width: 20px;
    height: 20px;
    background-color: #56b43c;
    display: inline-block;
    border-radius: 2px;
}

.cuadrado-celeste {
    width: 20px;
    height: 20px;
    background-color: skyblue;
    display: inline-block;
    border-radius: 2px;
}