.btn-contenedor {
    display: flex;
    justify-content: left;
    gap: 4px;
}

.filtros-contenedor {
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
    align-items: center;
    padding-left: 8px;
}

.tabla-mapa-contenedor {
    display: flex;
    justify-content: space-between;
    /* gap: 8px; */
    padding-left: 8px;
    padding-right: 8px;
    flex: 1;
}

.ant-app {
    height: 100%;
}

.tabla-main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buscador {
    width: 200px !important;
}

.ant-segmented {
    min-width: 180px;
}

.ant-popover-title {
    margin-bottom: 0 !important;
}


.titulo-modulo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 8px;
    color: #605d5f !important;
    margin-top: 4px;
    margin-bottom: 10px;
}

.icon-color {
    color: #56b43c !important;
}


.tabla-lotes-link-animation {
    /*ANIMATION*/
    animation-name: despliegue-vertical;
    animation-duration: 0.5s;
}

@keyframes despliegue-vertical {
    0% {
        transform: translateY(-62%);
    }

    100% {
        transform: translateY(0%);
    }
}


.tabla-lotes-switch-animation {
    animation-name: despliegue-horizontal-lotes;
    animation-duration: 0.5s;
}

@keyframes despliegue-horizontal-lotes {
    0% {
        transform: scale(95%);
    }

    100% {
        transform: scale(100%);
    }
}

.tabla-campos-switch-animation {

    animation-name: despliegue-horizontal-campos;
    animation-duration: 0.5s;
}

@keyframes despliegue-horizontal-campos {
    0% {
        transform: scale(95%);
    }

    100% {
        transform: scale(100%);
    }
}

.btn-agregar-contenedor {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-right: 8px;
}

.ant-segmented-item-selected {
    color: #56b43c !important;
    /* border-color: #56b43c !important; */
}

.btn-agregar {
    border-radius: 2px;
}

.btn-agregar:hover {
    color: #56b43c !important;
    border-color: #56b43c;
    background-color: transparent !important;
}


/*Modal historial Lote*/
.contenedor-titulo-modal {
    display: flex;
    flex-direction: row;
}

.lote-historial-modal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 500;
    cursor: default;
}

/*Spin de carga*/
.loading-spin {
    position: absolute;
    top: 20%;
    left: 50%;
}

.ant-card .ant-card-head {
    min-height: 36px;
}

.ant-card .ant-card-body {
    padding-top: 12px;
    padding-bottom: 12px;
}

.parent {
    text-align: center;
    min-width: 100px;
}

.child {
    display: inline-block;
    vertical-align: middle;
}

.inputSearch {
    width: 237px;
}
.inputSearch .ant-input-search-button {
    display: none;
}


.custom-switch {
    pointer-events: none; /* Desactivar la interacción con el switch */
}

/* Filtro campos o lotes animacion */
.filtro-camposlotes-animation {
    /*ANIMATION*/
    animation-name: despliegue-horizontal-filtro;
    animation-duration: 0.5s;
}

@keyframes despliegue-horizontal-filtro {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0%);
    }
}

.texto-con-borde {
    color: white; /* Color del texto */
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black; /* Borde negro alrededor del texto */
}

/* Drawer uploads */
.drawer-uploads {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: "100%";
}